body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 60px;
	height: 60px;
}
.postcard-header h1 {
	width: 8cm;
	margin: 10px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 1%;
}
.input {
	border: none;
	border-bottom: grey;
}
.postcard-footer {
	text-align: center;
}
.button {
	background-color: gray;
	padding: 2%;
}
